repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
        exclude: '(notebooks/)'
      - id: trailing-whitespace
      - id: check-yaml

  - repo: https://github.com/PyCQA/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
        args: [ --max-line-length=120 ]

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language: python
        language_version: python3.13
        entry: black --line-length 120 .
        types: [ python ]

  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.14.0
    hooks:
      - id: reorder-python-imports
        name: Sort Python Imports
        entry: reorder-python-imports
        language: python
        types: [ python ]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.1
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
